*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideContainer{
    transition: all 0.5s;
    z-index: 1;
    height: 100vh;
    background-color: gray;

    aside i{
        cursor: pointer;
        font-size: 3vh;
    }

}