*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideContainer{
    transition: all 0.5s;
    transform: translateX(0px);
    z-index: 2;
    top: 0;
    position: fixed;
    left: 100%;
    align-self: flex-start;

    min-width: 65vw;
    height: 100vh;
    padding: 0px;

    background-color: gray;
    border-radius: 10px;

    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.767);
        border: 0.3vw solid black;
        border-radius: 10px;

        .closeAside{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            width: 8vw;
            height: 8vw;
            
            position: absolute;
            transition: all 0.3s;
            left: 1%;
            top: 0%;
            cursor: pointer;

            background-color: orange;
            border: 0.7vw solid black;
            border-radius: 100%;
            
            i{
                font-size: 5vw;
                text-align: center;
                transition: all 0.5s;
    
        
            }
        
            
        }
        
        .closeAside:hover{
            background-color: red;
        }

        .secondRow{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            width: 100%;
            height: 100%;

            .logo{

                align-self: center;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: min-content;

                    h1{
                        font-weight: 600;
                        font-size: 12vw;
                        color: white;
                    }
                    
                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 12vw;
                        width: 20vw;
                        height: 20vw;

                        background-color: orange;
                        border-bottom: 1vw solid black;
                        border-right: 1vw solid black;
                        border-radius: 100%;
                        color: black;
                    }
            }

            nav{

                width: 100%;
                height: 70%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2vh;
    
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    transition: all 0.3s;
                    padding: 3vh 0;
                    min-width: 5vw;
                    width: 85%;

                    background-color: orange;
                    text-decoration: none;
                    border: 0.75vw solid rgb(0, 0, 0);
                    border-radius: 2vw;
                    
                    p{
                        color: white;
                        font-size: 5vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
                    }

                }

                a:hover{
                    background-color: white;
                }

                a:hover p{
                    color: orange;
                }
                
            }

        }

    }

}


@media(min-width:800px){

    .sideContainer{

        aside{

            .closeAside{

                width: 5.5vw;
                height: 5.5vw;
                
                border: 0.5vw solid black;


                i{

                    font-size: 3.5vw;
                }
                

            }

            .secondRow{

                .logo{

                    h1{
                        font-size: 8vw;
                    }

                    i{
                        font-size: 8vw;
                        width: 16vw;
                        height: 16vw;
                    }

                }

                nav{

                    a{

                        width: 80%;
                        border: 0.7vw solid rgb(0, 0, 0);

                    }

                }

            }

        }

    }

}

@media(min-width:1024px){

    .sideContainer{

        min-width: 40vw;

        aside{

            .closeAside{

                width: 5vw;
                height: 5vw;
                
                border: 0.5vw solid black;


                i{

                    font-size: 3vw;
                }
                

            }

            .secondRow{

                .logo{

                    h1{
                        font-size: 5vw;
                    }

                    i{

                        border-bottom: 0.5vw solid black;
                        border-right: 0.5vw solid black;
                        font-size: 6vw;
                        width: 11vw;
                        height: 11vw;
                    }

                }

                nav{

                    a{
                        border-radius: 0.75vw;
                        width: 80%;
                        border: 0.4vw solid rgb(0, 0, 0);

                        p{

                            font-size: 3vw;

                        }

                    }

                }

            }

        }

    }

}

@media(min-width:1381px){

    .sideContainer{

        min-width: 30%;

        aside{

            .closeAside{

                width: 2.9vw;
                height: 2.9vw;
                
                border: 0.2vw solid black;


                i{

                    font-size: 1.7vw;
                }
                

            }

            .secondRow{

                .logo{

                    h1{
                        font-size: 4vw;
                    }

                    i{

                        border-bottom: 0.35vw solid black;
                        border-right: 0.35vw solid black;
                        font-size: 4vw;
                        width: 7vw;
                        height: 7vw;
                    }

                }

                nav{

                    a{
                        
                        border-radius: 0.75vw;
                        width: 70%;

                        p{

                            font-size: 2vw;

                        }

                    }

                }

            }

        }

    }

}

// Especial para tablets de large port
@media(min-width:1000px) and (max-width:1280px) and (min-height:1050px) and (max-height:1400px){

    .sideContainer{

        min-width: 50%;

        aside{

            .secondRow{

                .logo{

                    h1{
                        font-size: 7vw;
                    }

                    i{
                        border-bottom: 0.5vw solid black;
                        border-right: 0.5vw solid black;
                        font-size: 8vw;
                        width: 14vw;
                        height: 14vw;
                    }

                }

                nav{

                    a{

                        p{


                        }

                    }

                }

            }

        }

    }

}


