*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{

    main{
        

        .bodyAbout{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 3vh;

            min-height: 80vh;
            
            h1{
                align-self: center;
                padding: 2.5vh 8vh;
                font-size: 4vh;
                margin-top: 3vh;

                background-color: rgb(19, 19, 19);
                color: white;
                
                border-bottom: 0.7vh solid orange;
                border-right: 0.7vh solid orange;
                border-bottom-right-radius: 15px;
            }
            
            .firstRow{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4vh;

                padding: 5vh 5vw;
                background-color: #131313;
                width: 100%;

                
                article{
                    background-color: rgb(19, 19, 19);
                    width: 100%;
                    padding: 4vh 4vw;
                    border: 3px solid orange;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    p{
                        padding: 1vh 0;
                        font-size: 2vh;
                        color: white;
                        text-shadow: 1px 1px 0px rgba(10, 10, 10, 0.6);
                        
                    }
                }
            }
            
            .secondRow{
                display: flex;
                flex-direction: column;
                gap: 2vh;
                
                width: 100%;
                min-height: 50vh;
                padding: 2vh 0;
                
                background-color: #131313;

                
                h2{
                    align-self: center;

                    padding: 2vh 6vw;
                    font-size: 3vh;
                    margin-bottom: 2vh;

                    color: white;
                    border:  3px solid orange;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    background-color: #131313;

                    text-shadow: 1px 1px 0px rgba(10, 10, 10, 0.6);
                }

                iframe{
                    align-self: center;
                    width: 100%;
                    height: 40vh;
                }

                p{
                    align-self: flex-end;
                    font-size: 1.7vh;
                    color: white;
                }
            }
        }

    }

}


@media(min-width:1025px){
    .mainContainer{
        main{
            .bodyAbout{
                .firstRow{
                    article{
                        width: 80%;
                    }
                }
                .secondRow{
                    iframe{
                        width: 80%;
                        height: 60vh;
                        
                        padding: 0.2vh;

                        border-top: none;
                        border-left: none;
                        border-bottom: 1.5vh double orange;
                        border-right: 1.5vh double orange;
                        border-bottom-right-radius: 10px;
                    }
                    P{
                        margin-right: 5VW;
                    }
                }
            }
        }
    }
}

