*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main, .bodyHome{
    width: 100%;
    height: 100%;
}

.mainContainer{
    
    main{
        display: flex;

        .bodyHome{
            display: flex;
            position: relative;

            .slider{
                display: flex;
                flex-direction: row;
                overflow-x: hidden;
                position: relative;

                width: 100vw;
                height: 60vw;
                background-color: red;

                .moving{
                    display: flex;
                    flex-direction: row;
                    transition: all 1s;
                    
                    img{
                        max-width: 100vw;
                        min-width: 100vw;
                        height: auto;
                    }

                }

                .arrow{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 7vh;
                    height: 7vh;
                    border: 4px solid white;
                    border-radius: 100%;

                    position: absolute;
                    font-size: 4vh;
                    padding: 10px;
                    cursor: pointer;
                    color: white;
                    background-color: rgba(255, 166, 0, 0.637);
                    z-index: 1;

                }

                .arrow:hover{
                    background-color: orange;
                }

                .arrowRight{
                    right: 3vw;
                    top: 50%;
                }
                
                .arrowLeft{
                    left: 3vw;
                    top: 50%;
                }

            }
            
        }
    }

}


@media(min-height:600px){

    .mainContainer{
        main{

            .bodyHome{
        
                .slider{
                    height: 40vw;
                }
        
            }

        }
    
    }

}