@import "header";

@import "body";
@import "bodyHome";
@import "bodyPlans";

@import "aside";
@import "footer";

#root{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    overflow-x: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

.mainContainer { 

    main{
        display: flex;
    }
    
}